
body {
    cursor: url('../images/leg.png'), auto;
    background-color: #262626;
}

.navbar {
    background-color: #d6d4a0;
    width: 100%;
}

.navbar-brand img {
    float: left;
    margin-left: 10px;
    
}

li {
    list-style: none;
    margin-right: 10px;
}

.btn-primary {
    background-color: #d64933;
    color: white;
    border: none;
    font-family: 'Mulish', sans-serif;
}

.btn-secondary {
    background-color: #d6d4a0;
    color: #d64933;
    border-color: #d64933;
    font-family: 'Mulish', sans-serif;
}


.frame {
    width: 100%;
}

.heading {
    padding: 150px;
}

#cooking {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color: #d6d4a0;
    font-size: 120px;
    font-family: 'Poppins', sans-serif;
}

.cooking {
    background-color: #262626;
    padding-top: 100px;
    height: fit-content;
}


.carousel {
    background: linear-gradient(to right, #2c5364, #0f2027);
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.slider {
    position: relative;
    width: 500px;
    height: 500px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translate(350px);
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}

.slider span:hover img {
    transform: translateY(-50px) scale(1.2);
}



h2 {
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    color: #d6d4a0;
}

p {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    padding: 30px;
    color: #d6d4a0;
}

.container {
    padding-top: 100px;
    padding-bottom: 100px;
}


.recipes {
    width: 100%;
}

.reviews {
    width: 100%;
}

